@import 'variables';
@import 'font';
@import 'mixin';

* {
  box-sizing: border-box;
}

html {
  background: $color-green-200;
}

body {
  width: 100%;
  font-family: Satoshi-Variable, sans-serif;
  background: $linear-background;
  color: $color-white;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
