@import '@/common/styles/mixin';
@import '@/common/styles/variables';

.footer {
  @include flex-column();
  padding: 40px clamp(0.938rem, -0.053rem + 4.23vw, 3.75rem);
  position: relative;
}

.logoBlock {
  @include flex-column();
  gap: 30px;
}

.topContent {
  @include flex-column;
  max-width: 80%;
  width: 100%;
  gap: 30px;

  @include md {
    @include flex-between();
    flex-direction: row;
  }
}

.social {
  @include flex-column();
  @include font(16px, 700, 120%);
  gap: 10px;
  text-transform: uppercase;

  a {
    transition: transform 0.5s ease;
    width: fit-content;
  }

  a:hover {
    filter: brightness(0) saturate(100%) invert(33%) sepia(79%) saturate(1041%)
      hue-rotate(170deg) brightness(105%) contrast(104%);
  }
}

.toTopButton {
  @include flex-center();

  position: absolute;
  top: 40px;
  right: clamp(0.938rem, -0.053rem + 4.23vw, 3.75rem);
  cursor: pointer;
  width: 64px;
  min-width: 64px;
  height: 64px;
  background: transparent;
  border: 2px solid $color-white;
  border-radius: 50%;
  transition: border 0.5s ease;

  &:hover {
    border: 2px solid $color-aquamarine-100;
  }

  &:active {
    transform: scale(0.98);
  }
}

.arrow {
  position: relative;
  top: -5px;
  display: block;
  margin: 30px auto;
  width: 13px;
  height: 13px;
  border-top: 2px solid $color-aquamarine;
  border-left: 2px solid $color-aquamarine;
  transform: rotate(45deg);

  &:after {
    content: '';
    display: block;
    width: 2px;
    height: 25px;
    background-color: $color-aquamarine;
    transform: rotate(-45deg) translate(8.5px, 3px);
    left: 0;
    top: 0;
  }
}

.rights {
  color: $color-white-200;
  text-transform: uppercase;
  margin-top: 90px;
}
