@import '@/common/styles/mixin';
@import '@/common/styles/variables';

.section {
  @include flex-column();
  gap: 64px;
  margin-bottom: 150px;
}

.textBlock {
  @include flex-column();
  gap: 30px;

  @include md {
    flex-direction: row;
  }
}

.leftBlock {
  flex: 1;

  h2 {
    @include font(clamp(2.188rem, 1.889rem + 1.27vw, 2.5rem), 700, 120%);
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  p {
    @include font(20px, 400, 140%);
    color: $color-white-100;
    text-transform: lowercase;
  }
}

.rightBlock {
  @include flex-center-vertical();
  @include font(clamp(1.25rem, 0.986rem + 1.13vw, 2rem), 300, 140%);
  flex: 1;
  text-transform: uppercase;
}

.stepsWrapper {
  @include flex-center-column();
  border-radius: 8px;
  overflow: hidden;

  @include md {
    flex-direction: row;
  }
}

.stepCard {
  @include flex-center-vertical();
  flex: 1;
  gap: 20px;
  position: relative;
  width: 100%;
  padding: 24px;
  height: 250px;
  background-color: $color-blue-200;
  border-bottom: 1px solid $color-white-900;
  transition: background-color 0.3s ease;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background-color: $color-green-100;
  }

  @include md {
    border-right: 1px solid $color-white-900;
    flex-direction: column;
    text-align: center;
  }

  &:before {
    content: url(../../../../common/assets/svg/arrow.svg);
    position: absolute;
    z-index: 10;
    transform: rotate(90deg);
    bottom: -25%;
    left: calc(50% - 33px);
    width: fit-content;
    height: fit-content;

    @include md {
      left: 92%;
      transform: rotate(0deg);
      bottom: 0;
      top: calc(50% - 33px);
    }
  }

  &:last-child:before {
    content: none;
  }

  .icon {
    display: inline-block;
    padding: 15px;
    border: 1px solid $color-white-100;
    border-radius: 17px;
  }

  .position {
    @include font(36px, 700, 140%);
    text-transform: capitalize;
  }

  .text {
    @include font(16px, 500, 140%);
    text-transform: capitalize;
  }
}
